.body
{
    background-color: #011627;
    font-size: 20px;
    font: #FDFFFC;
    padding-left: 150px;
    padding-right: 150px;
    border-left: 200px;
    text-align: center;
    border: solid #2EC486;
    border-left-width: 90px;
    border-right-width: 90px;
    border-bottom-width: 90px;
    border-top-width: 0px;
    border-top-color:   #011627;
    font-family: 'Lobster', cursive;
}
.c1
{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
}
.head
{
    background-color: rgb(36, 36, 93);
}
.para1
{
    font-size: larger;
}
form
{
    font-size: 1.5em;
    margin-bottom: 20px;
}
.submit
{
    shape-outside:circle(30px);
    background-color: #FF9F1C;
    height: 60px;
    width: 150px;
    font-size:1.4em;
    border-radius: 25px;
}