body
{
    background-color:#93947b ;    
}
p{
    background-color: #3a3b33;
}
.onlydiv{
    background-color: antiquewhite;
}

h1
{
    Color:red;
    position:relative;
}
table
{
    background-color: aqua;
    color:black;
    

}



