.onlydiv
{
    margin-left: 7cm;
    margin-right: 7cm;
    background-color: antiquewhite;
    margin-bottom: 3cm;
}
p{
    align-items: center;
}
h1
{
    Color:red;
    position:relative;
}
table
{
    background-color: rgb(164, 182, 125);
    color:brown;
}



